.status-panel {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  width: 100%;
  min-width: 280px;
  padding: 20px;
  justify-content: center;
  margin-left: 95px;
  margin-right: 95px;
  margin-bottom: 15px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(94, 94, 94, 0.2);
  border: 1px solid rgb(188, 197, 250);
  border-radius: 10px;
}

.panel-block {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  width: 32%;
  min-width: 200px;
  margin: 5px;
}